*
!inc/
!inc/**
!srcs/
!srcs/**
!www/assets
!www/assets/**
!www/error-pages
!www/error-pages/**
!www/script
!www/script/**
!www/static
!www/static/**
!Makefile
!README.md
!configFile/
!configFile/**
!contents/
!contents/**
contents/full.mp4
contents/test.html
!cgi/
!cgi/**
!GET.cpp
!index.html
!.gitignore