server {
    listen 127.0.0.2:8080;
    server_name 1;

# /app/home
#/app/home : url
#/home : uri

#root + uri + index;

    location /app {
        method POST;
        root /var/app/;
        index application.php;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }
}
server {
    listen 127.0.0.2:8080;
    server_name 2;


    location /contents
    {
        method DELETE;
        root /home/ks19/Apps/19/webservConfig_19_May/contents;
        index application.php;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }

}

server {
    listen 127.0.0.2:8080;
    server_name 2;


    location /contact.htm 
    {
        method GET;
        root /contents;
        index contact.htm;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }
}

