server {
    listen 127.0.0.2:8080;
    server_name 1;

# /app/home
#/app/home : url
#/home : uri

#root + uri + index;

    location /app {
        method POST;
        root /var/app/;
        index application.php;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }
}
server {
    listen 127.0.0.2:8080;
    server_name 127.0.0.2:8080;


    location /contents
    {
        method GET;
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/contents;
        index index.html;
        cgi_pass GET.cgi;
    }
    location /py
    {
        method GET;
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/contents;
        index index.html;
        cgi_pass GET.cgi;

    }
    location /
    {
        method GET;
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/;
        index index.html;

    }
    location /cgi
    {
        method POST;
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/cgi;
        index index.html;
        cgi_pass cgi.py;
        cgi_params PHP_VALUE 12;
        cgi_params PH_VALUE 12;
    }
}

server {
    listen 127.0.0.2:8080;
    server_name 127.0.0.2:8080;


    location /a
    {
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/contents;
        index index.html;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }

}

server {
    listen 127.0.0.3:8080;
    server_name 127.0.0.3:8080;


    location /contents
    {
        method DELETE;
        root /home/ks19/Apps/19/webservConfig_19_May/contents;
        index application.php;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }

}

