server {
    listen 127.0.0.2:8080;
    server_name 1;

# /app/home
#/app/home : url
#/home : uri

#root + uri + index;

    location /app {
        method POST;
        root /var/app/;
        index application.php;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }
}
server {
    listen 127.0.0.2:8080;
    server_name 127.0.0.2:8080;


    location /contents
    {
        method GET;
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/contents;
        index test.html index.html;
        cgi_pass GET.cgi;
        cgi_params CONTENT_LENGTH 120;
        cgi_params CONTENT_TYPE multipart/formdata;
        cgi_params FILENAME file;
        cgi_params FILENAME1 file;

    }
    location /
    {
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/contents;
        index index.html;
        cgi_pass GET.cgi;
        cgi_params "PHP_VALUE=test" "upload_max_filesize=2M";

    }
}

server {
    listen 127.0.0.2:8080;
    server_name 127.0.0.2:8080;


    location /a
    {
        root /home/ks19/Apps/19/webserv_Kev_branch_working_21_May/contents;
        index index.html;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }

}

server {
    listen 127.0.0.3:8080;
    server_name 127.0.0.3:8080;


    location /contents
    {
        method DELETE;
        root /home/ks19/Apps/19/webservConfig_19_May/contents;
        index application.php;
        cgi_pass /usr/bin/php-fpm;
        cgi_params PHP_VALUE "upload_max_filesize=2M";          
    }

}

