server {
	listen 127.0.0.1:8080;

    root /home/larfef/Documents/C++/webserv/error-pages;

    error_page 400 400.html;

	location / {
        root /home/larfef/Documents/C++/webserv/contents;
		index form.html;
	}

	location /contact {
		root /home/larfef/Documents/www/;
		index contact.html;
	}

	location /about {
		root /home/larfef/Documents/www/;
		index about.html;
	}
}