server {
	listen 127.0.0.1:8080;

    root /home/larfef/Documents/www/;

	location / {
        method GET;
        error_page 405 error-page/400.html;
		index static/upload.html;
	}

    location /upload {
        method POST;
        root /home/larfef/Documents/C++/webserv/;
        cgi_pass cgi/cgi.py;
        client_max_body_size 100M;
    }

    location /GET
    {
        root /home/larfef/Documents/C++/webserv;
        index contents/index.html;
        cgi_pass /contents/GET.cgi;
        cgi_params PHP_VALUE test;
        cgi_params FILENAME file;
        cgi_params FILENAME1 file;
    }

	location /contact {
        method POST;
		root /home/larfef/Documents/www/static;
		index contact.html;
	}

	location /about {
		index invalid.html static/about.html;
	}
}