server {
	listen 127.0.0.1:8080;

    root /home/larfef/Documents/C++/webserv/contents;

#    error_page 400 400.html;

	location /contents {
        client_max_body_size 10MSSS;
		index form.html;
	}

	location /contact {
		root /home/larfef/Documents/www/;
		index contact.html;
	}

	location /about {
		root /home/larfef/Documents/www/;
		index about.html;
	}
}