server {
    listen 127.0.0.1:8080;

    location / {
        method GET;
        root /home/larfef/Documents/C++/webserv;
        index index.html;
    }

    location /put_test/ {
        method PUT;
        root /home/larfef/Documents/C++/webserv/uploads;
    }

    location ~ \.bla$ {
        method POST;
        cgi_pass /home/larfef/Documents/C++/webserv/cgi_test;
    }

    location /post_body {
        method POST;
        client_max_body_size 100;
    }

    location /directory/ {
        method GET;
        root /home/larfef/Documents/C++/webserv/YoupiBanane;
        index youpi.bad_extension nop/youpi.bad_extension nop/Yeah/not_happy.bad_extension;
    }
} 